.message {
  background-color: blue;
  padding: 8px;
  border-radius: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
  /* override the Conversation container's align-items property */
  align-self: flex-start;
  color: white;
}